<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{disabled: currentPage === 0}">
      <a class="page-link" (click)="currentPage = currentPage -1">Prev</a>
    </li>
    <!-- #TA01 
      - aliasing: let i = index 
    -->
    <!-- 
      - you assign an object to ngClass; 
        in this case it's an object with 
        an "active" boolean property
      - if active is true than the class
        "active" will be applied to the li
        element
    -->
    <!-- ng-container #TA02
        you can't have two structural directives 
        on the same element   
    -->
    <ng-container *ngFor="let image of images; let i = index;">
      <li class="page-item" [ngClass]="{ active: i === currentPage}" *ngIf="checkWindowIndex(i)">
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]="{ disabled: currentPage === images.length -1 }">
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<!-- #TA03 -->
<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current Page is 0; Disable Prev button
  </div>
  <div *ngSwitchDefault>
    Current Page is not 0; enable Prev button
  </div>
</div>

<div>
  <h4>{{ images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" />
</div>

<ul *appTimes="5; let i = index;">
  <li>Hi there! {{i}}</li>
</ul>